.overview {
    height: 599px;
    background-color: $color3;
    text-align: center;

    .container {
        width: 270px;

        .grey {
            display: none;
        }

        .article {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 100%;
            padding-top: 38px;
            padding-left: 0;

            &::before {
                display: none;
            }

            h1 {
                margin-bottom: 24px;
                font-size: 24px;
                letter-spacing: -.8px;
            }

            > p {
                padding-right: 0;

                &:first-of-type {
                    margin-bottom: 23px;
                    padding-right: 2px;
                    padding-left: 2px;
                    font-size: 18px;
                    letter-spacing: -.1px;
                    word-spacing: -.4px;
                }
            }

            .multicolumn {
                width: 270px;
                height: 90px;
                max-height: initial;
                margin-bottom: 95px;
                padding-right: 0;
                column-count: initial;

                p {

                    &:first-child {
                        margin-bottom: 13px;
                    }

                    &:last-child {
                        line-height: 18px;
                    }
                }
            }
        }
    }
}
