header {
    width: 100%;
    background-color: $color4;
    font-family: 'Montserrat', sans-serif;

    a {
        color: $color3;
        text-decoration: none;

        &.menu {
            padding: 29.5px 31.5px;
            float: left;
            background-color: $color1;
            background-image: url(/images/header/burger.png);
            background-repeat: no-repeat;
            background-position: 50%;
        }
    }

    .row {

        &-1 {
            display: flex;
            position: relative;
            align-items: center;
            justify-content: center;
            height: 422px;
            overflow: hidden;

            img {
                position: absolute;
            }

            .container {
                position: absolute;
                top: 0;
                width: 1002px;
                height: 100%;

                .intro {
                    display: flex;
                    position: relative;
                    flex-direction: column;
                    width: 350px;
                    height: 100%;
                    padding-top: 13px;
                    padding-left: 34px;
                    float: left;
                    opacity: .97;
                    background-color: $color2;
                    color: $color3;

                    .title {
                        margin-bottom: 61px;
                        font-size: 18px;
                        font-weight: 700;
                        letter-spacing: -.4px;
                        text-decoration: none;
                        text-transform: uppercase;

                        &::before {
                            content: 'E';
                            display: inline-block;
                            margin-right: 8px;
                            padding: 3px 8px;
                            transform: translateY(14px);
                            border: 3px solid $color3;
                            color: $color3;
                            font-size: 32.21px;
                            font-weight: 700;
                        }
                    }

                    > span {
                        display: block;
                        width: max-content;
                        margin-bottom: 9px;
                        padding: 4px 9px;
                        background-color: $color1;
                        color: $color3;
                        font-size: 10px;
                        text-transform: uppercase;
                    }

                    .wrap {
                        width: 279px;
                        margin-bottom: 18.5px;
                        border-bottom: 1px solid $color8;

                        > h1 {
                            padding-left: 2px;
                            font-size: 22px;
                            font-weight: 700;
                            letter-spacing: -.5px;
                        }

                        > h2 {
                            margin-bottom: 12.5px;
                            padding-left: 2px;
                            font-size: 26px;
                            font-weight: 700;
                            letter-spacing: -1px;
                            text-transform: uppercase;
                        }

                        > span {
                            display: block;
                            width: 212px;
                            margin-bottom: 21px;
                            font-family: 'Open Sans', sans-serif;
                            font-size: 16px;
                            font-weight: 300;
                            line-height: 19.5px;
                        }

                        &:last-of-type {
                            margin-bottom: 15px;
                        }
                    }

                    .admission {
                        font-size: 18px;
                        letter-spacing: -.24px;
                        text-transform: uppercase;
                        word-spacing: 1.6px;

                        &::before {
                            content: '';
                            display: inline-block;
                            margin-right: 9px;
                            margin-bottom: -4px;
                            padding: 10px 10px;
                            background-image: url(/images/header/arrow.png);
                            background-repeat: no-repeat;
                            background-size: cover;
                        }
                    }

                    .icons {
                        display: flex;
                        position: absolute;
                        right: 0;
                        bottom: 0;

                        $icons: (seen: 'eye.png', image: 'image.png', location: 'marker.png');

                        @each $index, $item in $icons {

                            .#{$index} {

                                &::before {
                                    content: '';
                                    display: flex;

                                    @if $index == location {
                                        width: 40px;
                                    }

                                    @else {
                                        width: 43px;
                                    }

                                    height: 41px;
                                    border: 1px solid $color8;
                                    background-image: url(/images/header/#{$item});
                                    background-repeat: no-repeat;
                                    background-position: center;
                                }

                                &:hover::before {
                                    filter: invert(100%);
                                    border: 1px solid $color1;
                                }
                            }
                        }
                    }
                }
            }
        }

        &-2 {
            display: flex;
            align-self: flex-end;
            justify-content: center;
            width: 100%;
            overflow: hidden;
            background-color: $color5;

            .container {
                display: flex;
                position: relative;
                justify-content: flex-end;
                width: 1002px;

                .arrows {
                    display: flex;
                    z-index: 1;
                    align-items: center;
                    border-right: 1px solid $color8;
                    border-left: 1px solid $color8;

                    a {
                        margin-right: .5px;
                        padding: 18px 21px;
                        padding-bottom: 44px;

                        &.left {
                            width: 57px;
                            height: 100%;
                            border-right: 1px solid $color8;
                            background-image: url(/images/header/left.png);
                            background-repeat: no-repeat;
                            background-position: center;

                            &:hover {
                                background-image: url(/images/header/left-hover.png);
                                background-repeat: no-repeat;
                                background-position: center;
                            }
                        }

                        &.right {
                            width: 57px;
                            height: 100%;
                            background-image: url(/images/header/right.png);
                            background-repeat: no-repeat;
                            background-position: center;

                            &:hover {
                                background-image: url(/images/header/right-hover.png);
                                background-repeat: no-repeat;
                                background-position: center;
                            }
                        }
                    }
                }

                &::after {
                    content: '';
                    position: absolute;
                    left: 350px;
                    width: 200%;
                    height: 65px;
                    background-color: $color1;
                }
            }
        }
    }
}
