header {
    width: 100%;

    a {

        &.menu {
            position: absolute;
            top: 11px;
            right: -1px;
        }
    }

    .row {

        &-1 {

            .container {
                width: 270px;

                .intro {
                    width: 271px;
                    padding-top: 13px;
                    padding-left: 34px;

                    .title {
                        margin-bottom: 70px;
                        font-size: 14.45px;

                        &::before {
                            margin-right: -2px;
                            padding: 2px 7px;
                            transform: translate(-7px, 10px);
                            font-size: 25.85px;
                        }
                    }

                    > span {
                        font-size: 10px;
                    }

                    .wrap {
                        width: 203px;
                        margin-bottom: 17px;

                        > h1 {
                            padding-left: 1px;
                            font-size: 22px;
                            font-weight: 700;
                            letter-spacing: -.5px;
                        }

                        > h2 {
                            margin-bottom: 12.5px;
                            padding-left: 1px;
                            font-size: 26px;
                            font-weight: 700;
                            letter-spacing: -1px;
                            text-transform: uppercase;
                        }

                        > span {
                            width: 184px;
                            margin-bottom: 20px;
                            font-size: 14px;
                            line-height: 20.5px;
                        }

                        &:last-of-type {
                            margin-bottom: 15px;
                        }
                    }

                    .admission {
                        transform: translateY(2px);
                        font-size: 16px;
                        letter-spacing: -.24px;
                        text-transform: uppercase;
                        word-spacing: 1.6px;

                        &::before {
                            margin-bottom: -5px;
                        }
                    }

                    .icons {
                        display: flex;
                        position: absolute;
                        right: 71px;
                        bottom: 0;
                        align-self: center;
                    }
                }
            }
        }

        &-2 {
            height: 62px;
            background-color: $color1;

            .container {
                display: none;
            }
        }
    }
}
